body{
    margin: 0;
    overflow-x: hidden;
}

*{
    font-family: 'Nunito';
}

a{
    text-decoration: none;
}

h2.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
    font-family: 'Nunito';
    font-weight: 700;
}



#sec1{
    /* background-color: blueviolet; */
    width: 100%;
    /* height: 972px; */
    background: linear-gradient(172.38deg, #E5EFFF 0.65%, rgba(229, 239, 255, 0.262661) 72.92%, rgba(229, 239, 255, 0) 94.1%);
    /* background-color: blueviolet; */

}

.hero{
    position: relative;
	justify-content: center;
	text-align: center;
	min-height: 120vh;
	color: rgba(255, 255, 255, 0);

}

.hero .background-image{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-size: cover;
opacity: 0;
/* z-index: -1; */
/* background-color: #80a3db; */
}

.background-image{
    animation: 1s fadein 0.5s forwards;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

.content-area{
    width: 100%;
    position: absolute;
    padding-left: 50px;
    opacity: 0;
    animation: 1s slidefade 1s forwards;
}
@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 210px 0 0 0px;
	}
}

.name{
/* position: absolute; */
width: 818px;
/* height: 285px; */
/* left: 70px; */
/* top: 210px; */
text-align: left;

font-family: Amaranth;
font-style: normal;
font-weight: normal;
font-size: 62px;
line-height: 75px;
/* or 112% */


color: #272D4E;
}

.description{
    /* position: absolute; */
width: 500px;
height: 75px;
left: 70px;
/* top: 410px; */
text-align: left;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* or 139% */


color: #94A2B3;
}


.tagline{
    display: flex;  
    flex-wrap: wrap;
    /* align-items: left; */
    /* justify-content: center; */
}

#tagline{

    display: flex;  
    margin-top: 10px;
  flex-wrap: wrap;
justify-content: left;
top: 325px;
color: rgba(27, 27, 27, 0.95);

font-family: 'Baloo Paaji 2';
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 30px;
text-align: left;
overflow: hidden;
border-right: 2px solid rgba(255,255,255,.75);

white-space: nowrap;
transform: translateY(-50%);    
animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 21em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(31, 31, 31, 0.75);}
  to{border-right-color: transparent;}
}



#sec2{
    padding: 10px 0px 10px 15px;
    width: 100%;
    /* height: 750px; */
    z-index: 7;
}

#blogpost-txt{
font-family: 'Cabin Condensed';
font-style: normal;
font-weight: bold;
font-size: 35px;
line-height: 65px;
/* or 87% */


color: #262626d4;
}

.carasoul-manual{
    width: 650px;
    height: 450px;
    grid-area: carasoul-manual;
}

.carousel-item{
    border-radius: 15px;
}
.carousel-item img{
    border-radius: 15px;
    /* filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.45)); */
}

.carousel-inner{
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.45));
}
