body{
    margin: 0;
    overflow-x: hidden;
}

*{
    font-family: 'Nunito';
}

a{
    text-decoration: none;
}

h2.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom {
    font-family: 'Nunito';
    font-weight: 700;
}




.jss142 .hero-shaped__image {
    overflow: hidden;
    background-color: rgb(247, 249, 250);
  }
  @media (max-width:959.95px) {
    .jss142 .hero-shaped__image {
      position: relative;
    }
    .jss142 .hero-shaped__wrapper {
      flex-direction: column;
    }
  }
  .jss143 {
    top: 5%;
    /* left: -100%; */
   right: -300px;
    width: 600%;
    height: 600%;
    animation: jss145 50s linear infinite;
    background: url("https://assets.maccarianagency.com/the-front/web-screens/home/home-hero-bg-light.png");
    background-size: 400px 200px;
    background-color: #e8eaf6;
    background-repeat: repeat;
    background-attachment: scroll;
    z-index: -50;
    position: relative;
  }
  @media (min-width:600px) {
    .jss143 {
      background-size: 800px auto;

    }
  }
  .jss144 {
    background: url("https://assets.maccarianagency.com/the-front/web-screens/home/home-hero-bg-dark.png");
  }
  @keyframes jss145 {
    0% {
      transform: rotate(-13deg) translateY(-25%);
    }
    100% {
      transform: rotate(-13deg) translateY(-80%);
    }
  }
  

